<div class="chart-content row show-sm">
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#CCFF00" data-class="ccCCFF00" data-hex="#CCFF00" data-rgb="204, 255, 0" data-hsl="72, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCFF33" data-class="cCCFF33" data-hex="#CCFF33" data-rgb="204, 255, 51" data-hsl="75, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCFF66" data-class="cCCFF66" data-hex="#CCFF66" data-rgb="204, 255, 102" data-hsl="80, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCFF99" data-class="cCCFF99" data-hex="#CCFF99" data-rgb="204, 255, 153" data-hsl="90, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCFFCC" data-class="cCCFFCC" data-hex="#CCFFCC" data-rgb="204, 255, 204" data-hsl="120, 100%, 90%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCFFFF" data-class="cCCFFFF" data-hex="#CCFFFF" data-rgb="204, 255, 255" data-hsl="180, 100%, 90%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFFFFF" data-class="cFFFFFF" data-hex="#FFFFFF" data-rgb="255, 255, 255" data-hsl="0, 0%, 100%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFFFCC" data-class="cFFFFCC" data-hex="#FFFFCC" data-rgb="255, 255, 204" data-hsl="60, 100%, 90%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFFF99" data-class="cFFFF99" data-hex="#FFFF99" data-rgb="255, 255, 153" data-hsl="60, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFFF66" data-class="cFFFF66" data-hex="#FFFF66" data-rgb="255, 255, 102" data-hsl="60, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFFF33" data-class="cFFFF33" data-hex="#FFFF33" data-rgb="255, 255, 51" data-hsl="60, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFFF00" data-class="cFFFF00" data-hex="#FFFF00" data-rgb="255, 255, 0" data-hsl="60, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#CCCC00" data-class="cCCCC00" data-hex="#CCCC00" data-rgb="204, 204, 0" data-hsl="60, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCCC33" data-class="cCCCC33" data-hex="#CCCC33" data-rgb="204, 204, 51" data-hsl="60, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCCC66" data-class="cCCCC66" data-hex="#CCCC66" data-rgb="204, 204, 102" data-hsl="60, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCCC99" data-class="cCCCC99" data-hex="#CCCC99" data-rgb="204, 204, 153" data-hsl="60, 33%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCCCCC" data-class="cCCCCCC" data-hex="#CCCCCC" data-rgb="204, 204, 204" data-hsl="0, 0%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CCCCFF" data-class="cCCCCFF" data-hex="#CCCCFF" data-rgb="204, 204, 255" data-hsl="240, 100%, 90%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFCCFF" data-class="cFFCCFF" data-hex="#FFCCFF" data-rgb="255, 204, 255" data-hsl="300, 100%, 90%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFCCCC" data-class="cFFCCCC" data-hex="#FFCCCC" data-rgb="255, 204, 204" data-hsl="0, 100%, 90%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFCC99" data-class="cFFCC99" data-hex="#FFCC99" data-rgb="255, 204, 153" data-hsl="30, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFCC66" data-class="cFFCC66" data-hex="#FFCC66" data-rgb="255, 204, 102" data-hsl="40, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFCC33" data-class="cFFCC33" data-hex="#FFCC33" data-rgb="255, 204, 51" data-hsl="45, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FFCC00" data-class="cFFCC00" data-hex="#FFCC00" data-rgb="255, 204, 0" data-hsl="48, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#CC9900" data-class="cCC9900" data-hex="#CC9900" data-rgb="204, 153, 0" data-hsl="45, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC9933" data-class="cCC9933" data-hex="#CC9933" data-rgb="204, 153, 51" data-hsl="40, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC9966" data-class="cCC9966" data-hex="#CC9966" data-rgb="204, 153, 102" data-hsl="30, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC9999" data-class="cCC9999" data-hex="#CC9999" data-rgb="204, 153, 153" data-hsl="0, 33%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC99CC" data-class="cCC99CC" data-hex="#CC99CC" data-rgb="204, 153, 204" data-hsl="300, 33%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC99FF" data-class="cCC99FF" data-hex="#CC99FF" data-rgb="204, 153, 255" data-hsl="270, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF99FF" data-class="cFF99FF" data-hex="#FF99FF" data-rgb="255, 153, 255" data-hsl="300, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF99CC" data-class="cFF99CC" data-hex="#FF99CC" data-rgb="255, 153, 204" data-hsl="330, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF9999" data-class="cFF9999" data-hex="#FF9999" data-rgb="255, 153, 153" data-hsl="0, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF9966" data-class="cFF9966" data-hex="#FF9966" data-rgb="255, 153, 102" data-hsl="20, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF9933" data-class="cFF9933" data-hex="#FF9933" data-rgb="255, 153, 51" data-hsl="30, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF9900" data-class="cFF9900" data-hex="#FF9900" data-rgb="255, 153, 0" data-hsl="36, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#CC6600" data-class="cCC6600" data-hex="#CC6600" data-rgb="204, 102, 0" data-hsl="30, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC6633" data-class="cCC6633" data-hex="#CC6633" data-rgb="204, 102, 51" data-hsl="20, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC6666" data-class="cCC6666" data-hex="#CC6666" data-rgb="204, 102, 102" data-hsl="0, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC6699" data-class="cCC6699" data-hex="#CC6699" data-rgb="204, 102, 153" data-hsl="330, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC66CC" data-class="cCC66CC" data-hex="#CC66CC" data-rgb="204, 102, 204" data-hsl="300, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC66FF" data-class="cCC66FF" data-hex="#CC66FF" data-rgb="204, 102, 255" data-hsl="280, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF66FF" data-class="cFF66FF" data-hex="#FF66FF" data-rgb="255, 102, 255" data-hsl="300, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF66CC" data-class="cFF66CC" data-hex="#FF66CC" data-rgb="255, 102, 204" data-hsl="320, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF6699" data-class="cFF6699" data-hex="#FF6699" data-rgb="255, 102, 153" data-hsl="340, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF6666" data-class="cFF6666" data-hex="#FF6666" data-rgb="255, 102, 102" data-hsl="0, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF6633" data-class="cFF6633" data-hex="#FF6633" data-rgb="255, 102, 51" data-hsl="15, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF6600" data-class="cFF6600" data-hex="#FF6600" data-rgb="255, 102, 0" data-hsl="24, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#CC3300" data-class="cCC3300" data-hex="#CC3300" data-rgb="204, 51, 0" data-hsl="15, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC3333" data-class="cCC3333" data-hex="#CC3333" data-rgb="204, 51, 51" data-hsl="0, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC3366" data-class="cCC3366" data-hex="#CC3366" data-rgb="204, 51, 102" data-hsl="340, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC3399" data-class="cCC3399" data-hex="#CC3399" data-rgb="204, 51, 153" data-hsl="320, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC33CC" data-class="cCC33CC" data-hex="#CC33CC" data-rgb="204, 51, 204" data-hsl="300, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC33FF" data-class="cCC33FF" data-hex="#CC33FF" data-rgb="204, 51, 255" data-hsl="285, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF33FF" data-class="cFF33FF" data-hex="#FF33FF" data-rgb="255, 51, 255" data-hsl="300, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF33CC" data-class="cFF33CC" data-hex="#FF33CC" data-rgb="255, 51, 204" data-hsl="315, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF3399" data-class="cFF3399" data-hex="#FF3399" data-rgb="255, 51, 153" data-hsl="330, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF3366" data-class="cFF3366" data-hex="#FF3366" data-rgb="255, 51, 102" data-hsl="345, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF3333" data-class="cFF3333" data-hex="#FF3333" data-rgb="255, 51, 51" data-hsl="0, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF3300" data-class="cFF3300" data-hex="#FF3300" data-rgb="255, 51, 0" data-hsl="12, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#CC0000" data-class="cCC0000" data-hex="#CC0000" data-rgb="204, 0, 0" data-hsl="0, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC0033" data-class="cCC0033" data-hex="#CC0033" data-rgb="204, 0, 51" data-hsl="345, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC0066" data-class="cCC0066" data-hex="#CC0066" data-rgb="204, 0, 102" data-hsl="330, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC0099" data-class="cCC0099" data-hex="#CC0099" data-rgb="204, 0, 153" data-hsl="315, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC00CC" data-class="cCC00CC" data-hex="#CC00CC" data-rgb="204, 0, 204" data-hsl="300, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#CC00FF" data-class="cCC00FF" data-hex="#CC00FF" data-rgb="204, 0, 255" data-hsl="288, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF00FF" data-class="cFF00FF" data-hex="#FF00FF" data-rgb="255, 0, 255" data-hsl="300, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF00CC" data-class="cFF00CC" data-hex="#FF00CC" data-rgb="255, 0, 204" data-hsl="312, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF0099" data-class="cFF0099" data-hex="#FF0099" data-rgb="255, 0, 153" data-hsl="324, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF0066" data-class="cFF0066" data-hex="#FF0066" data-rgb="255, 0, 102" data-hsl="336, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF0033" data-class="cFF0033" data-hex="#FF0033" data-rgb="255, 0, 51" data-hsl="348, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#FF0000" data-class="cFF0000" data-hex="#FF0000" data-rgb="255, 0, 0" data-hsl="0, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#660000" data-class="c660000" data-hex="#660000" data-rgb="102, 0, 0" data-hsl="0, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#660033" data-class="c660033" data-hex="#660033" data-rgb="102, 0, 51" data-hsl="330, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#660066" data-class="c660066" data-hex="#660066" data-rgb="102, 0, 102" data-hsl="300, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#660099" data-class="c660099" data-hex="#660099" data-rgb="102, 0, 153" data-hsl="280, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6600CC" data-class="c6600CC" data-hex="#6600CC" data-rgb="102, 0, 204" data-hsl="270, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6600FF" data-class="c6600FF" data-hex="#6600FF" data-rgb="102, 0, 255" data-hsl="264, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9900FF" data-class="c9900FF" data-hex="#9900FF" data-rgb="153, 0, 255" data-hsl="276, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9900CC" data-class="c9900CC" data-hex="#9900CC" data-rgb="153, 0, 204" data-hsl="285, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#990099" data-class="c990099" data-hex="#990099" data-rgb="153, 0, 153" data-hsl="300, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#990066" data-class="c990066" data-hex="#990066" data-rgb="153, 0, 102" data-hsl="320, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#990033" data-class="c990033" data-hex="#990033" data-rgb="153, 0, 51" data-hsl="340, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#990000" data-class="c990000" data-hex="#990000" data-rgb="153, 0, 0" data-hsl="0, 100%, 30%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#663300" data-class="c663300" data-hex="#663300" data-rgb="102, 51, 0" data-hsl="30, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#663333" data-class="c663333" data-hex="#663333" data-rgb="102, 51, 51" data-hsl="0, 33%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#663366" data-class="c663366" data-hex="#663366" data-rgb="102, 51, 102" data-hsl="300, 33%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#663399" data-class="c663399" data-hex="#663399" data-rgb="102, 51, 153" data-hsl="270, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6633CC" data-class="c6633CC" data-hex="#6633CC" data-rgb="102, 51, 204" data-hsl="260, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6633FF" data-class="c6633FF" data-hex="#6633FF" data-rgb="102, 51, 255" data-hsl="255, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9933FF" data-class="c9933FF" data-hex="#9933FF" data-rgb="153, 51, 255" data-hsl="270, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9933CC" data-class="c9933CC" data-hex="#9933CC" data-rgb="153, 51, 204" data-hsl="280, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#993399" data-class="c993399" data-hex="#993399" data-rgb="153, 51, 153" data-hsl="300, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#993366" data-class="c993366" data-hex="#993366" data-rgb="153, 51, 102" data-hsl="330, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#993333" data-class="c993333" data-hex="#993333" data-rgb="153, 51, 51" data-hsl="0, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#993300" data-class="c993300" data-hex="#993300" data-rgb="153, 51, 0" data-hsl="20, 100%, 30%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#666600" data-class="c666600" data-hex="#666600" data-rgb="102, 102, 0" data-hsl="60, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#666633" data-class="c666633" data-hex="#666633" data-rgb="102, 102, 51" data-hsl="60, 33%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#666666" data-class="c666666" data-hex="#666666" data-rgb="102, 102, 102" data-hsl="0, 0%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#666699" data-class="c666699" data-hex="#666699" data-rgb="102, 102, 153" data-hsl="240, 20%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6666CC" data-class="c6666CC" data-hex="#6666CC" data-rgb="102, 102, 204" data-hsl="240, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6666FF" data-class="c6666FF" data-hex="#6666FF" data-rgb="102, 102, 255" data-hsl="240, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9966FF" data-class="c9966FF" data-hex="#9966FF" data-rgb="153, 102, 255" data-hsl="260, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9966CC" data-class="c9966CC" data-hex="#9966CC" data-rgb="153, 102, 204" data-hsl="270, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#996699" data-class="c996699" data-hex="#996699" data-rgb="153, 102, 153" data-hsl="300, 20%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#996666" data-class="c996666" data-hex="#996666" data-rgb="153, 102, 102" data-hsl="0, 20%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#996633" data-class="c996633" data-hex="#996633" data-rgb="153, 102, 51" data-hsl="30, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#996600" data-class="c996600" data-hex="#996600" data-rgb="153, 102, 0" data-hsl="40, 100%, 30%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#669900" data-class="c669900" data-hex="#669900" data-rgb="102, 153, 0" data-hsl="80, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#669933" data-class="c669933" data-hex="#669933" data-rgb="102, 153, 51" data-hsl="90, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#669966" data-class="c669966" data-hex="#669966" data-rgb="102, 153, 102" data-hsl="120, 20%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#669999" data-class="c669999" data-hex="#669999" data-rgb="102, 153, 153" data-hsl="180, 20%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6699CC" data-class="c6699CC" data-hex="#6699CC" data-rgb="102, 153, 204" data-hsl="210, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#6699FF" data-class="c6699FF" data-hex="#6699FF" data-rgb="102, 153, 255" data-hsl="220, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9999FF" data-class="c9999FF" data-hex="#9999FF" data-rgb="153, 153, 255" data-hsl="240, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#9999CC" data-class="c9999CC" data-hex="#9999CC" data-rgb="153, 153, 204" data-hsl="240, 33%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#999999" data-class="c999999" data-hex="#999999" data-rgb="153, 153, 153" data-hsl="0, 0%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#999966" data-class="c999966" data-hex="#999966" data-rgb="153, 153, 102" data-hsl="60, 20%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#999933" data-class="c999933" data-hex="#999933" data-rgb="153, 153, 51" data-hsl="60, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#999900" data-class="c999900" data-hex="#999900" data-rgb="153, 153, 0" data-hsl="60, 100%, 30%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#66CC00" data-class="c66CC00" data-hex="#66CC00" data-rgb="102, 204, 0" data-hsl="90, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66CC33" data-class="c66CC33" data-hex="#66CC33" data-rgb="102, 204, 51" data-hsl="100, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66CC66" data-class="c66CC66" data-hex="#66CC66" data-rgb="102, 204, 102" data-hsl="120, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66CC99" data-class="c66CC99" data-hex="#66CC99" data-rgb="102, 204, 153" data-hsl="150, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66CCCC" data-class="c66CCCC" data-hex="#66CCCC" data-rgb="102, 204, 204" data-hsl="180, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66CCFF" data-class="c66CCFF" data-hex="#66CCFF" data-rgb="102, 204, 255" data-hsl="200, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99CCFF" data-class="c99CCFF" data-hex="#99CCFF" data-rgb="153, 204, 255" data-hsl="210, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99CCCC" data-class="c99CCCC" data-hex="#99CCCC" data-rgb="153, 204, 204" data-hsl="180, 33%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99CC99" data-class="c99CC99" data-hex="#99CC99" data-rgb="153, 204, 153" data-hsl="120, 33%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99CC66" data-class="c99CC66" data-hex="#99CC66" data-rgb="153, 204, 102" data-hsl="90, 50%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99CC33" data-class="c99CC33" data-hex="#99CC33" data-rgb="153, 204, 51" data-hsl="80, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99CC00" data-class="c99CC00" data-hex="#99CC00" data-rgb="153, 204, 0" data-hsl="75, 100%, 40%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#66FF00" data-class="c66FF00" data-hex="#66FF00" data-rgb="102, 255, 0" data-hsl="96, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66FF33" data-class="c66FF33" data-hex="#66FF33" data-rgb="102, 255, 51" data-hsl="105, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66FF66" data-class="c66FF66" data-hex="#66FF66" data-rgb="102, 255, 102" data-hsl="120, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66FF99" data-class="c66FF99" data-hex="#66FF99" data-rgb="102, 255, 153" data-hsl="140, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66FFCC" data-class="c66FFCC" data-hex="#66FFCC" data-rgb="102, 255, 204" data-hsl="160, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#66FFFF" data-class="c66FFFF" data-hex="#66FFFF" data-rgb="102, 255, 255" data-hsl="180, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99FFFF" data-class="c99FFFF" data-hex="#99FFFF" data-rgb="153, 255, 255" data-hsl="180, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99FFCC" data-class="c99FFCC" data-hex="#99FFCC" data-rgb="153, 255, 204" data-hsl="150, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99FF99" data-class="c99FF99" data-hex="#99FF99" data-rgb="153, 255, 153" data-hsl="120, 100%, 80%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99FF66" data-class="c99FF66" data-hex="#99FF66" data-rgb="153, 255, 102" data-hsl="100, 100%, 70%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99FF33" data-class="c99FF33" data-hex="#99FF33" data-rgb="153, 255, 51" data-hsl="90, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#99FF00" data-class="c99FF00" data-hex="#99FF00" data-rgb="153, 255, 0" data-hsl="84, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#00FF00" data-class="c00FF00" data-hex="#00FF00" data-rgb="0, 255, 0" data-hsl="120, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00FF33" data-class="c00FF33" data-hex="#00FF33" data-rgb="0, 255, 51" data-hsl="132, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00FF66" data-class="c00FF66" data-hex="#00FF66" data-rgb="0, 255, 102" data-hsl="144, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00FF99" data-class="c00FF99" data-hex="#00FF99" data-rgb="0, 255, 153" data-hsl="156, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00FFCC" data-class="c00FFCC" data-hex="#00FFCC" data-rgb="0, 255, 204" data-hsl="168, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00FFFF" data-class="c00FFFF" data-hex="#00FFFF" data-rgb="0, 255, 255" data-hsl="180, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33FFFF" data-class="c33FFFF" data-hex="#33FFFF" data-rgb="51, 255, 255" data-hsl="180, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33FFCC" data-class="c33FFCC" data-hex="#33FFCC" data-rgb="51, 255, 204" data-hsl="165, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33FF99" data-class="c33FF99" data-hex="#33FF99" data-rgb="51, 255, 153" data-hsl="150, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33FF66" data-class="c33FF66" data-hex="#33FF66" data-rgb="51, 255, 102" data-hsl="135, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33FF33" data-class="c33FF33" data-hex="#33FF33" data-rgb="51, 255, 51" data-hsl="120, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33FF00" data-class="c33FF00" data-hex="#33FF00" data-rgb="51, 255, 0" data-hsl="108, 100%, 50%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#00CC00" data-class="c00CC00" data-hex="#00CC00" data-rgb="0, 204, 0" data-hsl="120, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00CC33" data-class="c00CC33" data-hex="#00CC33" data-rgb="0, 204, 51" data-hsl="135, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00CC66" data-class="c00CC66" data-hex="#00CC66" data-rgb="0, 204, 102" data-hsl="150, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00CC99" data-class="c00CC99" data-hex="#00CC99" data-rgb="0, 204, 153" data-hsl="165, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00CCCC" data-class="c00CCCC" data-hex="#00CCCC" data-rgb="0, 204, 204" data-hsl="180, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#00CCFF" data-class="c00CCFF" data-hex="#00CCFF" data-rgb="0, 204, 255" data-hsl="192, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33CCFF" data-class="c33CCFF" data-hex="#33CCFF" data-rgb="51, 204, 255" data-hsl="195, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33CCCC" data-class="c33CCCC" data-hex="#33CCCC" data-rgb="51, 204, 204" data-hsl="180, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33CC99" data-class="c33CC99" data-hex="#33CC99" data-rgb="51, 204, 153" data-hsl="160, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33CC66" data-class="c33CC66" data-hex="#33CC66" data-rgb="51, 204, 102" data-hsl="140, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33CC33" data-class="c33CC33" data-hex="#33CC33" data-rgb="51, 204, 51" data-hsl="120, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#33CC00" data-class="c33CC00" data-hex="#33CC00" data-rgb="51, 204, 0" data-hsl="105, 100%, 40%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#009900" data-class="c009900" data-hex="#009900" data-rgb="0, 153, 0" data-hsl="120, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#009933" data-class="c009933" data-hex="#009933" data-rgb="0, 153, 51" data-hsl="140, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#009966" data-class="c009966" data-hex="#009966" data-rgb="0, 153, 102" data-hsl="160, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#009999" data-class="c009999" data-hex="#009999" data-rgb="0, 153, 153" data-hsl="180, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0099CC" data-class="c0099CC" data-hex="#0099CC" data-rgb="0, 153, 204" data-hsl="195, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0099FF" data-class="c0099FF" data-hex="#0099FF" data-rgb="0, 153, 255" data-hsl="204, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3399FF" data-class="c3399FF" data-hex="#3399FF" data-rgb="51, 153, 255" data-hsl="210, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3399CC" data-class="c3399CC" data-hex="#3399CC" data-rgb="51, 153, 204" data-hsl="200, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#339999" data-class="c339999" data-hex="#339999" data-rgb="51, 153, 153" data-hsl="180, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#339966" data-class="c339966" data-hex="#339966" data-rgb="51, 153, 102" data-hsl="150, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#339933" data-class="c339933" data-hex="#339933" data-rgb="51, 153, 51" data-hsl="120, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#339900" data-class="c339900" data-hex="#339900" data-rgb="51, 153, 0" data-hsl="100, 100%, 30%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#006600" data-class="c006600" data-hex="#006600" data-rgb="0, 102, 0" data-hsl="120, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#006633" data-class="c006633" data-hex="#006633" data-rgb="0, 102, 51" data-hsl="150, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#006666" data-class="c006666" data-hex="#006666" data-rgb="0, 102, 102" data-hsl="180, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#006699" data-class="c006699" data-hex="#006699" data-rgb="0, 102, 153" data-hsl="200, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0066CC" data-class="c0066CC" data-hex="#0066CC" data-rgb="0, 102, 204" data-hsl="210, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0066FF" data-class="c0066FF" data-hex="#0066FF" data-rgb="0, 102, 255" data-hsl="216, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3366FF" data-class="c3366FF" data-hex="#3366FF" data-rgb="51, 102, 255" data-hsl="225, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3366CC" data-class="c3366CC" data-hex="#3366CC" data-rgb="51, 102, 204" data-hsl="220, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#336699" data-class="c336699" data-hex="#336699" data-rgb="51, 102, 153" data-hsl="210, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#336666" data-class="c336666" data-hex="#336666" data-rgb="51, 102, 102" data-hsl="180, 33%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#336633" data-class="c336633" data-hex="#336633" data-rgb="51, 102, 51" data-hsl="120, 33%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#336600" data-class="c336600" data-hex="#336600" data-rgb="51, 102, 0" data-hsl="90, 100%, 20%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#003300" data-class="c003300" data-hex="#003300" data-rgb="0, 51, 0" data-hsl="120, 100%, 10%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#003333" data-class="c003333" data-hex="#003333" data-rgb="0, 51, 51" data-hsl="180, 100%, 10%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#003366" data-class="c003366" data-hex="#003366" data-rgb="0, 51, 102" data-hsl="210, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#003399" data-class="c003399" data-hex="#003399" data-rgb="0, 51, 153" data-hsl="220, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0033CC" data-class="c0033CC" data-hex="#0033CC" data-rgb="0, 51, 204" data-hsl="225, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0033FF" data-class="c0033FF" data-hex="#0033FF" data-rgb="0, 51, 255" data-hsl="228, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3333FF" data-class="c3333FF" data-hex="#3333FF" data-rgb="51, 51, 255" data-hsl="240, 100%, 60%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3333CC" data-class="c3333CC" data-hex="#3333CC" data-rgb="51, 51, 204" data-hsl="240, 60%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#333399" data-class="c333399" data-hex="#333399" data-rgb="51, 51, 153" data-hsl="240, 50%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#333366" data-class="c333366" data-hex="#333366" data-rgb="51, 51, 102" data-hsl="240, 33%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#333333" data-class="c333333" data-hex="#333333" data-rgb="51, 51, 51" data-hsl="0, 0%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#333300" data-class="c333300" data-hex="#333300" data-rgb="51, 51, 0" data-hsl="60, 100%, 10%"></div>
        </div>
    </div>
    <div class="color-group">
        <div class="color-block">
            <div class="js-color" style="background-color:#000000" data-class="c000000" data-hex="#000000" data-rgb="0, 0, 0" data-hsl="0, 0%, 0%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#000033" data-class="c000033" data-hex="#000033" data-rgb="0, 0, 51" data-hsl="240, 100%, 10%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#000066" data-class="c000066" data-hex="#000066" data-rgb="0, 0, 102" data-hsl="240, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#000099" data-class="c000099" data-hex="#000099" data-rgb="0, 0, 153" data-hsl="240, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0000CC" data-class="c0000CC" data-hex="#0000CC" data-rgb="0, 0, 204" data-hsl="240, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#0000FF" data-class="c0000FF" data-hex="#0000FF" data-rgb="0, 0, 255" data-hsl="240, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3300FF" data-class="c3300FF" data-hex="#3300FF" data-rgb="51, 0, 255" data-hsl="252, 100%, 50%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#3300CC" data-class="c3300CC" data-hex="#3300CC" data-rgb="51, 0, 204" data-hsl="255, 100%, 40%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#330099" data-class="c330099" data-hex="#330099" data-rgb="51, 0, 153" data-hsl="260, 100%, 30%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#330066" data-class="c330066" data-hex="#330066" data-rgb="51, 0, 102" data-hsl="270, 100%, 20%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#330033" data-class="c330033" data-hex="#330033" data-rgb="51, 0, 51" data-hsl="300, 100%, 10%"></div>
        </div>
        <div class="color-block">
            <div class="js-color" style="background-color:#330000" data-class="c330000" data-hex="#330000" data-rgb="51, 0, 0" data-hsl="0, 100%, 10%"></div>
        </div>
    </div>
</div>