/*  Material Design color palette downloaded from
 *  http://htmlcolorcodes.com/color-charts/
 *
 *  Check out our powerful color picker
 *  http://htmlcolorcodes.com/color-picker/
 *
 *  Want to learn more about colors in CSS?
 *  http://htmlcolorcodes.com/tutorials/
 *
 *  - - - - - - - - - - - - - - - - - - 
 *  Credits:
 *
 *  Original color palette by
 *  https://www.google.com/design/spec/style/color.html
 *
 *  - - - - - - - - - - - - - - - - - -
 */

/* Red */
.red { color: #f44336 !important; }

/* Pink */
.pink { color: #e91e63 !important; }

/* Purple */
.purple { color: #9c27b0 !important; }

/* Deep Purple */
.deep-purple { color: #673ab7 !important; }

/* Indigo */
.indigo { color: #3f51b5 !important; }

/* Blue */
.blue { color: #2196f3 !important; }

/* Light Blue */
.light-blue { color: #03a9f4 !important; }

/* Cyan */
.cyan { color: #00bcd4 !important; }

/* Teal */
.teal { color: #009688 !important; }

/* Green */
.green { color: #4caf50 !important; }

/* Light Green */
.light-green { color: #8bc34a !important; }

/* Lime */
.lime { color: #cddc39 !important; }

/* Yellow */
.yellow { color: #ffeb3b !important; }

/* Amber */
.amber { color: #ffc107 !important; }

/* Orange */
.orange { color: #ff9800 !important; }

/* Deep Orange */
.deep-orange { color: #ff5722 !important; }

/* Brown */
.brown { color: #795548 !important; }

/* Grey */
.grey { color: #9e9e9e !important; }

/* Blue Grey */
.blue-grey { color: #607d8b !important; }

/* White / Black */
.white { color: #ffffff !important; }
.black { color: #000000 !important; }

/*  Want more? Get the full Material Design color palette at
 *  http://htmlcolorcodes.com/color-charts/
 */